<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Processed Image</title>
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
  <h1>Below is your processed image:</h1>
  <div class="image-container">
    <img
      src="{{ url_for('static', filename='processed/'~filename) }}"
      alt="Processed Image"
    />
  </div>
  <div class="button-group">
    <a href="/" class="button-primary">Go Back</a>
  </div>
</body>
</html>
